<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tmap.name %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @tmap.classification %>
</p>

<p>
  <strong>Coordinate lat:</strong>
  <%= @tmap.coordinate_lat %>
</p>

<p>
  <strong>Coordinat lon:</strong>
  <%= @tmap.coordinat_lon %>
</p>

<%= link_to 'Edit', edit_tmap_path(@tmap) %> |
<%= link_to 'Back', tmaps_path %>
