<%= form_for(@shelter) do |f| %>
<% if @shelter.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@shelter.errors.count, "error") %> prohibited this shelter from being saved:</h2>

  <ul>
    <% @shelter.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :introduce %><br>
  <%= f.text_field :introduce %>
</div>
<div class="field">
  <%= f.label :lonlat %><br>
  <%= f.text_field :lonlat, id: "lonlat"%>
</div>
<div class="field">
  <%= f.label :kind %><br>
  <%= f.text_field :kind %>
</div>

<script  type="text/javascript">

/*$('#map_div').click(function() {
  SetLonlatEvents();
});*/

$(SetLonlatEvents);
$(document).on('page:load',SetLonlatEvents);


function SetLonlatEvents(){//쉘터 생성할때 좌표 지정하기 위한 메서드
  map.events.register("click", map, onClickMap);
};

function onClickMap(e){ 
  markers.clearMarkers();
  
  lonlat = map.getLonLatFromViewPortPx(e.xy);
  //lonlat.transform(pr_3857, pr_4326);//좌표변환하면 마커가 생성이 안된다.
  alert(lonlat); 

  $("#lonlat").val(lonlat);
  /*addMarker(lonlat);*/



  /*marker*/
  var size = new Tmap.Size(21,25);
  var offset = new Tmap.Pixel(-(size.w/2), -size.h);
  var icon = new Tmap.Icon('<img src="123.jpg" style="z-index:9999px"/>',size,offset);
  /*var icon = new Tmap.IconHtml('<div class="shelter" style="border:10px solid black;"><div onClick="test1()" style="text-decoration: none;  color: RED; font-size: 9pt;">AAAAAAAAA</div><div onClick="test2()"><img src="img/d.png" /></div><div onClick="test3()" style="text-decoration: none;  color: BLUE;  font-size: 9pt;">QQQQQQQQQQQQQQQQQQQqQ</div></div>',size,offset);*/
  var marker = new Tmap.Marker(lonlat,icon);
  markers.addMarker(marker);
}

</script>

<div id="map_div" style="position:relative; width:100%px; height:300px; ">
</div>
<div class="field" style="display: hidden;">
  <% @shelters.each do |shelter| %>
    <div class="shelter_lonlat">
      <%=shelter.lonlat%>
    </div>
  <% end %>
</div>


<div class="actions">
  <%= f.submit %>
</div>
<% end %>
