<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shelter.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @shelter.introduction %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @shelter.classification %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @shelter.grade %>
</p>

<%= link_to 'Edit', edit_shelter_path(@shelter) %> |
<%= link_to 'Back', shelters_path %>
